table {
    margin-top: 30px;
    margin-left: 22%;
    border-collapse: collapse;
    width: 76%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}